numpy==1.26.4
pandas==1.5.3
selenium==4.19.0
tqdm==4.64.1
transformers==4.33.3
webdriver_manager==4.0.1
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
--index-url https://download.pytorch.org/whl/cu118

